@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    font-family: Arial, sans-serif;
    color:#001e1d;
}


nav{
    background-color:#abd1c6;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-left: -8px;
    margin-right: -8px;
}

li{
    color: #001e1d;
}

a{
    color:#001e1d;
}

header{
    display:flex;
    background-color:#004643;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}
.curriculum{
    display:flex;
    align-items: center;
    background-color:#004643;
}

.perfil{
    height:200px;
    margin-right: 100px;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    color:#e16162;
}

h1 {
    font-family: 'Lora', serif;
}

#section {
    background-color: #abd1c6;
    
}
    
.fondo > #section {
    background-color: #004643;
}

.fondoPrincipal{
    background-color: #abd1c6;
    color:#fffffe;
    margin-bottom: -20px;
    margin-left: -7px;
    margin-right: -7px;
}

section {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    
}
form{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

iframe{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

footer{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
    

        
