@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


* {
    font-family: Arial, sans-serif;
    color:#001e1d;
}
body{
	background-image: linear-gradient(#636162, #b1afaf);
	height: 100vh;
	font-weight: bold;
	letter-spacing: 2px;
}

.nombre{
    padding:40px;
}
nav{
    background-color:#004643;
}

li{
    color: #001e1d;
}

a{
    color:#001e1d;
}

header{
    display:flex;
    background-color:#004643;
    justify-content: space-between;
    align-items: center;

}
.left{

    background-color:#004643;
	float: left;
    flex:0;
    padding: 30px;

}

.right{
	width: 65%;
	float: left;
    flex:1;
    padding: 20px;
}

.perfil{
    height:200px;
    margin-right: 100px;
    height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #fbb03b;
	box-shadow: 6px 7px 9px 5px #fbb03b73;
}

.box-1{
	position: relative;
}

.subtitulo {
    font-family: 'Montserrat', sans-serif;
    color:#e16162;
}

h1 {
    font-family: 'Lora', serif;
}

#section {
    background-color: #abd1c6;
    
}
    
.fondo > #section {
    background-color: #004643;
}

.main{
    background-color: #abd1c6;
    color:#fffffe;
    border: 1px;
    padding: 5px;
    display: flex;
	height: auto;
	left: 50%;
	top: 60%;

}

.box{
    border: 1px;
    font-size:15px;
    text-align:center;

}

.informacion{
    border: 1px;
    font-size:15px;
}

.heading{
	background-color: #fffffe;
	padding: 10px;
	text-align: left;
	padding-left: 20px;
}

.p1{
	padding: 9px 10px;
	font-size: 20px;
    color:#b1afaf;
}
.right{
    padding: 9px 10px;
	width: 450px;
	float: left;
    font-size: 20px;
}




input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="reset"] {
    background-color: #ccc;
}

@media (max-width: 768px) {
    body {
        height: auto; 
    }

    .left, .right {
        float: none;
        width: 100%;
        padding: 10px;
    }
}
